


body {
  font-size: 0.9375rem;
  line-height: 1.5;
  height: 100%;
  overflow-x: hidden;
}
.responsiveTable{
  padding-bottom : 50px
}

.header {
  position: fixed;
  display: block;
  width: 100%;
  z-index: 9999;
  background: rgb(255 175 127);
  backdrop-filter: blur(5px); 
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

/* @media(max-width: 768px){
  .header{
    
    width: 100%;
    height: 18vh;
  }
  .MainNav{
    width : 100%
  }
  .Navcontainer{
    width : 100%
  }
}
@media(max-width : 912px){
  .header{
    width: 100%;
    height: 15vh;
  }
  .MainNav{
    width : 100%
  }
  .HomeNavLogo{
    margin-top: 0px;
  }
  .Navcontainer{
    width : 100%
  }
} */
.sidebar-open .header {
  overflow: hidden;
}
.sidebar-open .navbar li {
  margin: 0px 5px 0px 5px;
}
.sidebar-open .HomeBtn{
  margin: 0px;
  
}
.sidebar-open .navbar{
  margin-left: 40px;
  
}
.sidebar-open .mainContainer{
  margin-left: 250px;
}
.sidebar-open ul{
  display: none;
}


.navbar-toggler{
  border: none;
  color: white;

}
.sidebartoggleicon{
  /* height: 5vh; */
  /* width: 10vw; */
  font-size: 2rem;
  color: white;
  border: none;
  margin-left: 28px;
}
.HomeNavLogo{
 
  height: 8vh;
  /* background-blend-mode: difference; */
}


.navContainer{
  /* background-color: red; */
  display: flex;
  /* height: 16vh; */
  
}
@media(max-width : 996px){
 
  .Navcontainer{
    margin-left: 0px;
  }
  
}
.LayoutDashboard{
  width: 80%;
  margin-top: 12vh;
}

.sideUl{
  list-style: none;
}
.navbarUl{
  /* background-color: blue; */
  display: flex;
 margin-top: 12px;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
}
@media(max-width: 1000px){
  .responsiveTable{
    width : 100vw
  }
  .navbarUl{
    display: none;
  }
  .static-maincontainer .row .card{
    width: 20rem;
    height: auto;
    margin-left: 15px;
    margin-top: 10px;
    
  }
  .static-maincontainer .row {
    justify-content: normal;
  }
}
@media(max-width: 838px){
  .LayoutDashboard{
    width: 100%;
  }
  .responsiveTable{
    width : 100vw
  }
.static-maincontainer{
  width: 100vw;
}
  .static-maincontainer .row .card{
    width: 22rem;
    height: auto;
    margin-left: 15px;
    margin-top: 10px;
    
  }
  .static-maincontainer .row {
    justify-content: normal;
    width: 100vw;
  }
}
@media(max-width: 792px){
  .LayoutDashboard{
    width: 100%;
  }
  .table .striped tr td {
    display: flex;
  }
  .table .striped tr td {
    display: flex;
  }
  .table img {
    width: auto;
  }
  .responsiveTable{
    width : 100vw
  }
  .static-maincontainer{
    width: 100vw;
  }
  .static-maincontainer .row .card{
    width: 20rem;
    height: auto;
    margin-left: 15px;
    margin-top: 10px;
    
  }
  .static-maincontainer .row {
    justify-content: normal;
    width: 100vw;
  }
}

@media(min-width: 1000px){
  .static-maincontainer .row {
    justify-content: normal;
  }
  .static-maincontainer .row .card{
    width: 20rem;
    height: auto;
    margin-left: 15px;
    margin-top: 10px;
  }
 
  .static-maincontainer .row .card .card-body .circular-progress-container{
   width: 5rem;
  }
 

}

.navbar{
  background-color: transparent;
  border: 0;
  position: relative;
  margin: 0;
  padding: 0;
  /* height: 100px; */
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 80vw;
  display: flex; 
justify-content: space-between;
} 

@media(min-width : 1800px){
  .navbar{
    width: 100%;
  }
  .navbar i {
    margin-left: 74px;
  }
  .static-maincontainer{
    width : 80vw;
    margin-left: 50px;
  }
  .static-maincontainer .row{
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    
  }
  .static-maincontainer .row .card{
    width: 30rem;
    height: 15rem;
    margin-left: 10px;
  }
  .static-maincontainer .row .card h5{
    font-size: 30px;
  }
  .static-maincontainer .row .card h6{
    font-size: 22px;
  }
  .static-maincontainer .row .card .card-body .circular-progress-container{
    width: 9.5rem;
  }
  .static-maincontainer .row .card .card-body .circular-progress-container img{
    width: 3rem;
  }
  .Dashboardsidebar{
    width: 300px;
  }
  .doctorprofilesidebar{
    width: 300px;
  }
}
@media(max-width: 996px){
  .navbar{
    width : 100vw;
    justify-content: start;
  }
  .navbar .sidebartoggleicon {
    font-size: 3rem;
    margin-left: 12px;
  }
}
@media(max-width : 330px){
  .navbar .HomeNavLogo {
    display: none;
  
  }
  
  .sidebartoggleicon{
    font-size: 3rem;
    margin-left: 12px;
   
  }
}
@media(max-width : 412px){
  .navbar .HomeNavLogo {
    width: 16rem;
  
  }
  .sidebartoggleicon{
    font-size: 3rem;
    margin-left: 12px;
   
  }
  
}
@media(max-width : 450px){
  .navbar .sidebartoggleicon{
   font-size: 3rem;
   margin-left: 12px;
  }
}
.ulWrapper{
  margin: 0;
  padding: 0;
}

.navbar li {
  justify-content: space-evenly;
  font-weight: bolder;
  width: 8vw;
  font-family: auto;
  
  margin: 0px 25px 0px 15px;
  list-style: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
 
}
.navbar li:hover{
  color: skyblue;
}
.navbar NavLink{
  list-style: none;
}
.HomeBtn{
  /* background-color: rebeccapurple; */
  display: flex;
  margin: 30px;
 
  height: 7vh;
}
.HomeBtn a {
  text-decoration: none;
  color: black;
}
@media(max-width: 1000px){
  .HomeBtn{
    width: auto
  }
  .navbtn{
    display: auto;
  }
}
.navbtn {
  text-align: center;
  height: 6vh;
  width: 7vw;
  font-weight: 600;
  background-color: rgba(255, 176, 4, 0.767); /* Background color with transparency */
  color: white;
  border: none; /* Remove border to enhance the glass effect */
  border-radius: 5px;
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  transition: background-color 0.5s ease; /* Smooth color transition on hover */
}
@media(max-width: 1000px){
 
  .navbtn{
    width: auto;
  }
}
.registerbtn{
  text-align: center;
  height: 6vh;
  width: 7vw;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.767); /* Background color with transparency */
  color: white;
  border: none; /* Remove border to enhance the glass effect */
  border-radius: 5px;
  box-shadow: 0 20px 16px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  transition: background-color 0.5s ease; /* Smooth color transition on hover */
}
@media(max-width: 1000px){
 
  .registerbtn{
    display: none;
  }
  .navbtn{
    display: none;
  }
}
@media(min-width: 1000px){
 
  .registerbtn{
    width: 9vw;
  }
  .navbtn{
    width: 9vw;
    
  }
}

.registerbtn:hover{
  background-color: #8fc5ff;
}
.navbtn:hover {
  background-color: rgba(243, 195, 92, 0.7); /* Darker background on hover */
}

.loginBody{
  padding-top : 100px;
  width: 100%;
  height: auto;
  /* background-color: red; */
}
@media(max-width: 912px){
  .loginBody{
    height: 80vh;
  }
}
@media(max-width: 768px){
  .loginBody{
    height: 80vh;
  }
}
.mainContainer{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
}
@media(max-width: 912px){
  .mainContainer{
    height: 70vh;
  }
}
@media(max-width: 768px){
  .mainContainer{
    height: 70vh;
  }
}
.navlogo img{
  width: 36vw;
  height: 82vh;
}
@media(min-width: 1000px){
  .mainContainer{
    width: 100%,
  }
  .mainContainer .navlogo{
    width : 100%
  }
  .mainContainer .navlogo img{
    width : 100%;
    height: 100%;
  }
}
.inputContainer{
  width: 35vw;
  height: 95vh;
  border: 1px solid lightgray;
  border-radius: 10px;
  /* background-color: red; */
}

@media(max-width : 912px){
  .inputContainer{
    width: 80%;
    height: 75vh;
  
  }
  .inputContainer button {
    width: 70%;
    height: 7vh;
  }
  .inputContainer .inputfield input{
    height: 5vh;
  } 
}
@media(max-width: 768px ){
  .inputContainer{
    width: 100%;
    margin-left: 50px;
    height: 70vh;
    margin: auto;

  }
  .inputContainer .inputfield {
  width: 100%;
  
   /* height: 35vw; */
  }
  .inputContainer .inputfield input{
    width: 100%;
    height: 6vh;
  }
  .inputContainer button{
    width: 80%;
    margin-top: 10px;
    height: 6vh;
  }
  .inputContainer .forgetPswd h6{
    margin-right: -13px;
  }
}

@media(min-width: 1000px){
  .inputContainer{
    width: 80%;
  }
 
}
.mainLoginbutton{
  width : 30vw;

  height: 8vh;
  font-size: 15px;
  background: rgb(252, 211, 115);
  font-weight: bold;
  color: black;
}
.mainLoginbutton:hover{
  background: rgb(221, 169, 49);
}
@media(min-width: 1000px){
  .inputContainer button{
    width: 90%;
    height: 8vh;
    
  }
}
.OtpmainBtn {
  width : 30vw;
  
  height: 8vh;
  font-size: 15px;
  background: #2cb7e1;
  font-weight: bold;
  color: black;
}
.OtpmainBtn:hover{
  background: #75dfff;
}
.forgetPswd h6{
  margin-right: -20px;
}
.headingContainer{
  width: 30vw;
  height: 8vh;
  /* border: 2px solid red; */
margin-left: 30px;
display: flex;
}
.inputfield{
  margin: auto;
  margin-top: 30px;
  padding: 10px;
}
.inputfield input{
  width: 100%;
  height: 8vh;
  padding: 10px;
  font-size: 12px;
  margin-top: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  outline: none;
  margin: auto;
  /* margin-left: 20px; */
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.footer {
  /* margin-top : 50px; */
  width: 100%;
  height: 50vw;
  background: rgba(194, 250, 211, 0.65); /* Background color with transparency */
  backdrop-filter: blur(5px); /* Apply a blur effect to create a glass effect */
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow at the top */
  transition: background-color 0.3s ease; /* Smooth color transition on scroll/hover */
}
.footer:hover {
  background: rgba(179, 255, 202, 0.75); /* Slightly darker background on hover */
}
@media(max-width : 768px){
  .footer{
    height : 90vh;
    width : 100%;
  }
  .footerContainer{
    height: 35vh;
  }
}
@media (min-width: 1000px){
  .footer{
    height: auto;
  }
}
/* @media(max-width : 912px){
  .footer{
    height : 60vh;
    width : 100%;
  }
} */

.aboutSection{
  width: 17vw
}
.aboutSection img{
  width : 17vw;
  height : 10vh
}
.aboutSection .info{
  width : 17vw;
  text-align : center
}
.aboutSection p{
  font-size : 13px;
  color : gray;
  font-weight : bold
}
@media(max-width : 768px){
  .aboutSection{
    width : fit-content;
  }
  .aboutSection img {
    width : 100%;
  }
  .aboutSection .info {
    width : fit-content;
    font-size : 10px
  }
  .aboutSection p {
 
    font-size : 10px
  }
}
/* @media(max-width : 912px){
  .aboutSection{
    width : fit-content;
  }
  .aboutSection img {
    width : 100%;
  }
  .aboutSection .info {
    width : fit-content;
    font-size : 20px
  }
  .aboutSection p {
 
    font-size : 20px
  }
} */
.footerContainer{
  height: 85vh;
  display: flex;
  justify-content: space-evenly;
}
@media(min-width : 1000px){
 
  .footerContainer{
    height: auto;
  }
}
@media(max-width : 768px){
  .footerContainer {
height : 68vh;
display: flex;
flex-wrap: wrap;
justify-content: none;
}
}
/* @media(max-width : 912px){
  .footerContainer {
height : 40vh;
display: flex;
flex-wrap: wrap;
justify-content: none;
}
} */

.footerContainer li{
  list-style: none;
  padding-top: 10px;
  font-weight: bold;
  color: gray;
  font-size: 13px;
  text-decoration: underline;
  
}
.footerContainer h4{
  font-weight: bolder;
  color: rgb(46, 46, 46);
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

.footerContainer li:hover{
  color: #0E82FD;
  cursor: pointer;
}
.footerTerms{
  display: flex;
  justify-content: space-evenly;
  color: gray;
  font-weight: bold;
}
@media(max-width : 768px){
  .footerTerms{
    display: flex;
    flex-wrap : wrap;
    font-size : 12px
  }
}
/* @media(max-width : 912px){
  .footerTerms{
    display: flex;
    flex-wrap : wrap;
    font-size : 20px
  }
} */

.active {
list-style: none;
text-decoration: none;
color: black;
}

.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: #00028d;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 1000;
}
.dashboardNav{
  margin-left: 250px;
}
@media(max-width: 999px){
  .dashboardNav{
 
   margin-left: 0px;
  }
}

/* /Doctors ddashboard side bar */
.Dashboardsidebar {
  width: auto;
  height: 100vh;
  /* position: fixed; */
  top: 0;
  left: -250px;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: all 0.5s;
  position: sticky;
  /* padding-top: 150px; */
  z-index: 1000;
}
@media(min-width : 1800px){
  .Dashboardsidebar{
    width: 300px;
  }
  .Dashboardsidebar .doctorprofilesidebar{
    width: 300px;
  }
}
.dashboardsidebar-open {
  /* width: 80px; */
  display: none;
  transition: all 0.9s;
  left: 0;
}
.dashboardNav-expand{
  margin-left: 0px;
  transition: all 0.9s;
  /* background-color: red; */
}
.Navcontainer-sidebarclose{
  width: 100vw;
  transition: all 0.9s;
}
.static.sidebarclose{
  width : 100vw;
  transition: all 0.9s;
}
.static-row-sidebarclose{
  display : flex;
  justify-content : space-between;
  width : 80vw;
  transition: all 0.9s;

}
.row{
  display: flex;
  justify-content: space-evenly;
}
.staticrow{
width: 80vw
}
.appointment-sidebarclose{
  width : 80vw;
  margin-left: 159px
}
.appointment-sidebarclose-container {
  width : 80vw;
}
@media(max-width : 996px){
  .Dashboardsidebar{
    display: none;
  }
 
  
}
.Dashboardsidebar li {
  padding: 20px;
  background-color: white;
  color: #fff;
  border: 1px solid #f1f1f1;
    font-size: 18px;
    margin-left : -31px
}
.Dashboardsidebar li:hover{
  background-color: #8fc5ff;
  transition: 0.5s;
  color: black;
  cursor: pointer;
}
.doctorprofilesidebar {
  z-index: 9999;
  width: 250px;
  height: auto;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(160deg, rgb(0, 0, 0) 0%, rgb(16, 119, 151));
  text-align: center;
  border-bottom: 1px solid #f1f1f1;
}
.drProfile{
  text-align: center;
  margin: auto;
  padding: 20px;
  height: auto;
  width: auto;
 font-size: 12px;

}
.drProfile img{
  width: auto;
  height: 15vh;
  border-radius: 50%;
}
.Dashboardsidebar .sideUl li span {
  color: black;
  text-decoration: none;
}
.doctorprofilebtn{
  color: 'black';
  text-decoration :  none;
  background : white;
  font-weight : bolder
}
.doctorprofilebtn:hover{
 
  background : rgb(241, 238, 238);

}

.sidebar.open {
  width: 250px;
  z-index: 99999;
  left: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 30px;
  background-color: white;
  color: #fff;
  border: 1px solid #979797;
    font-size: 18px;
}

.sidebar button {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
@media screen and (max-width: 1000px) {
  .sidebar {
    width: 0;
    left: -250px;
  }
}
   /* User Registration css started */

   .Registration-container{
    border: 1px solid rgb(240, 237, 237);
    margin-top: 50px;
    padding: 50px;
    border-radius: 20px;
    
   };
   .signup{
    background-color: #51b751;
   }
   .requireFields {
    color: red;
    /* font-size: 17px;
    font-weight: 600;
    position: absolute;
    right: -10px;
    top: -3px; */
}
.form-label {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 0.1rem!important;
  color: #595959;
  position: relative;
}
.main-box-registration{
  padding-top : 100px;
  justify-content: center;
}
.registration-banner img{
  width: 40vw;
  margin-top: 50px;
  text-align: center;

}
@media(max-width : 768px){
  .registration-banner{
    display: none;
  }
}

/* styles.css */
.blurred-background {
  filter: blur(5px); /* Adjust the blur amount as needed */
  pointer-events: none; /* Prevent interaction with the blurred background */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Background with opacity to make it semi-transparent */
  z-index: 9999; /* Ensure the loading container is on top of everything */
}
/* styles.css */
.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure the modal is on top of everything */
}

.custom-modal {
  background-color: white; /* Modal background color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  text-align: center;
  position: relative;
}

.modal-content {
  padding: 20px;
}

.banner-section {
  height : 100vh;
  padding-top: 95px;
  background: rgb(255, 255, 255); /* Background color with transparency */
  position: relative;
  overflow: hidden;
  z-index: 1;
  backdrop-filter: blur(5px); /* Apply a blur effect to create a glass effect */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  transition: background-color 0.3s ease; /* Smooth color transition on scroll/hover */
}
@media(max-width: 768px){
  .banner-section {
    padding-top : 200px
  }
  .banner-section h1{
    font-size : 20px
  }
}

@media (max-width: 912px){
  .banner-section {
    padding-top : 200px
  }
  .banner-section h1{
    font-size : 20px
  }
}


.banner-content .header-icon {
    position: absolute;
    right: -30px;
    top: -15px;
}

[data-aos^=fade][data-aos^=fade].aos-animate {
  opacity: 1;
  transform: translateZ(0);
}

.banner-content .btn {
  font-weight: 500;
  border-radius: 8px;
  margin: 0;
  padding: 12px 15px;
  min-width: 200px;
  display: inline-block;
  background-color: #0E82FD;
  border: 1px solid #0E82FD;
  color: #ffffff;
  font-size: 18px;
  box-shadow: inset 0 0 0 0 #ffffff;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.banner-content h1 {
  font-weight: 600;
  font-size: 38px;
  margin-bottom: 25px;
  font-style : italic;
  font-family : auto
}

@media(max-width: 768px){
 
  .banner-content h1{
    font-size : 30px
  }
}
.banner-content h1 span {
  color: #0E82FD;
  font-weight: bolder;
  text-decoration : underline
}
.align-items-center {
  align-items: center!important;
};

.nav-link {
  color: white;
}
/* Doctor Dashboard CSS */
.dash-card .dash-widget .circle-bar{
  margin-right: 15px;
};
.dash-card .dash-widget .circle-bar > div {
  display: inline-block;
  position: relative;
  text-align: center;
}
.dash-card .dash-widget .circle-bar > div canvas{
  width: 90px !important;
  height: 90px !important;
}
.dash-card .dash-widget .circle-bar > div img {
  text-align: center;
  margin: 0 auto;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
}

/* Mystatics.css */

.static-maincontainer{
  display: flex;
  justify-content: space-evenly;
  height: auto;
  width: auto;
padding: 10px;
width: 100%;
 

}


.card {
  border: none;
  width: 20rem;
  height: 10rem;
  display: flex;
  order: 1px solid rgba(245, 245, 245);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  transition: box-shadow 0.3s ease-in-out;
}
.card:hover {
  box-shadow: 0 0 20px rgb(3, 223, 168); /* Add a glowing box shadow on hover */
}

.card-body {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.circular-progress-container {
  width: 6rem;
  height: 6rem;
}

.circular-progress-image {
  width: auto;
  height: auto;
}

.states-info {
  margin-top: 1rem;
  margin-left: 4rem;
}

h5 {
  font-family:'Times New Roman', Times, serif;
}

h6 {
  color: rgb(0, 0, 0);
}
.appointments-container {
  border: 1px solid lightgray;
  border-radius : 10px;
  height: 60vh;
  /* padding-bottom : 50px; */
  /* width: 80%; */
  overflow-x: auto;
  
}

.appointmentbtn {
  height: auto;
  display: flex;
  padding: 10px;
  border-bottom: 1px solid rgb(231, 231, 231);
}

.appointmentbtn button {
  width: 6rem;
 
  height: 2rem;
  border-radius: 5px;
  border: none;
  background: #20c0f3;
  color: rgb(248, 248, 248);
  font-size: 15px;
  margin-right: 10px;
  font-weight : bold;
  font-family: auto;
  transition: box-shadow 0.3s ease-in-out;
}
.appointmentbtn button:hover{
  box-shadow: 0 0 10px rgb(97, 206, 250);
}

table {
  width: 100%;
  overflow-x: auto;
}

table thead {
  padding: 10px;
  height: 13vh;
  border-bottom: 1px solid lightgray;
  width: 100%;
  overflow-x: auto;
}

table th {
  padding: 20px;
  overflow-x: auto;
}

table td {
  overflow-x: auto;
  padding: 20px;
}
/* Add the following styles to your CSS */
table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {

  padding: 10px;
}

/* Set a fixed width for the action column */
table th:last-child, table td:last-child {
  width: 200px; /* Adjust the width as needed */
}

/* Enable horizontal scrolling for the table container */
table-container {
  overflow-x: auto;
  white-space: nowrap;
}

.action-buttons-container {
  display: flex;
  justify-content: space-between;
}
table tr{
  border-bottom: 1px solid rgb(243, 243, 243);
  font-weight:400;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
table tr:hover{
 background-color: rgb(228, 228, 228);
}
.dashboardnavdropdown{
  padding: 1px;
}
@media(max-width : 995px){
  .dashboardnavdropdown{
    display: none;
  }
}

.LayoundDashboard-Sidebar-Close{
  width: 100%;
  transition: all 0.3s;
}
